
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;

}

.square {
  height: 60px;
  width: 60px;
  margin: 1px;
  font-size: 24px;
}
.board-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
}

.rest-btn {
  margin-top: 20px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.rest-btn:hover {
  background-color: #0056b3;
}
